<h1>New Lesson</h1>

<% if @lesson.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @lesson.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/lessons/<%= @lesson.id %>" method="post">
  <label for="lesson_number">Lesson No.</label>
  <input id="lesson_number" name="new_lesson[number]" type="text" value="<%= @lesson.number %>">
  <label for="lesson_name">Name</label>
  <input id="lesson_name" name="new_lesson[name]" type="text" value="<%= @lesson.name %>">
  <label for="lesson_text">Text</label>
  <input id="lesson_text" name="new_lesson[text]" type="text" value="<%= @lesson.text %>">

  <select name="new_lesson[section_id]">
    <% Section.all.each do |section| %>
    <option value="<%= section.id %>"> <%= section.name %> </option>
    <% end %>
  </select>

  <button>Create Lesson</button>
</form>

<p><a href="/">Go back to the main Section page</a>

